<%= form_for(routine) do |f| %>
  <% if routine.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <div id="error_explanation">
        <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

        <ul>
        <% routine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :desc %>
    <%= f.text_area :desc %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="field">
    <label>Select Routine Type: </label>
    <%= f.collection_select :routine_type_id, RoutineType.all , :id, :title, include_blank: "Select Routine Type" %> <br><br>
  </div>

  <div class="field">
    <%= f.label :days %>
    <%= f.number_field :days %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
