<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @reminder.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @reminder.desc %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @reminder.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @reminder.end_date %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %>
<%= link_to 'Back', reminders_path %>
