<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @timer.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @timer.desc %>
</p>

<p>
  <strong>End date:</strong>
  <%= @timer.end_date %>
</p>

<%= link_to 'Edit', edit_timer_path(@timer) %> |
<%= link_to 'Back', timers_path %>
