<% if alert %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<h1>Routine Types</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @routine_types.each do |routine_type| %>
      <tr>
        <td><%= routine_type.title %></td>
        <td><%= link_to 'Show', routine_type %></td>
        <td><%= link_to 'Edit', edit_routine_type_path(routine_type) %></td>
        <td><%= link_to 'Destroy', routine_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Routine Type', new_routine_type_path %>
