<p id="notice"><%= notice %></p>

<h1>Routine Types</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routine_types.each do |routine_type| %>
      <tr>
        <td><%= routine_type.title %></td>
        <td><%= link_to 'Show', routine_type %></td>
        <td><%= link_to 'Edit', edit_routine_type_path(routine_type) %></td>
        <td><%= link_to 'Destroy', routine_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Routine Type', new_routine_type_path %>
