<%= form_for(activity) do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :desc %>
    <%= f.text_area :desc %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :is_completed %>
    <%= f.select :is_completed, options_for_select(["True", "False"]) %>
  </div>

  <div class="field">
    <label>Select Routine: </label>
    <%= f.collection_select :routine_id, Routine.all , :id, :title, include_blank: "Select Routine" %> <br><br>
  </div>

  <div class="field">
    <label>Select Categories: </label><br>

    <%= f.collection_check_boxes :category_ids, Category.all, :id, :title do |b| %> 
    <%= b.check_box %> 
    <%= b.label %> 
    <% end %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

